body {
  background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  padding : 10px 10px 80px 40px;
  text-align: justify;
}
h1 {
  color:rgb(255, 250, 205);
  font-family: 'Lucida Console';
  font-size: 70px;
  text-align: center;
}
h2 {
  color:rgb(255, 250, 205);
  font-family: 'Lucida Console';
  font-size: 25px;
}
p {
  color: white;
  font-family: 'Lucida Console';
  font-size: 16px;
}


.column_1 {
  float: left;
  width: 45%;
  padding: 20px;
}
.container {
    position: relative;
  }
.text-block {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.column_2 {
    float: right;
    width: 45%;s
    padding: 20px;
  }
  .About {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px 30px 30px;
  }
  .random_fact {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 30px 30px;
  }
