body {
  background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  padding : 10px 10px 80px 40px;
  text-align: justify;
}
h1 {
  color:rgb(255, 250, 205);
  font-family: 'Lucida Console';
  font-size: 80px;
  text-align: center;
}
h2 {
  color:rgb(255, 250, 205);
  font-family: 'Lucida Console';
  font-size: 25px;
}
p {
  color: white;
  font-family: 'Lucida Console';
  font-size: 16px;
}
.Menu {
  background-color: rgb(25, 25, 112, 0.5);
  overflow: hidden;
}
.Menu a {
    float: left;
    font-size: 20px;
    color:rgb(255, 250, 205);
    padding: 14px 55px;
    text-align: center;
    font-family: 'Lucida Console';

}
.column_2 {
    float: right;
    width: 45%;
    padding: 20px;
}

.About {
  background-color: rgba(192, 192, 192, 0.5);
  padding: 10px 10px 30px 30px;
}
/* Navbar container */
.Menu {
  overflow: hidden;
  background-color: #333;
  font-family: 'Lucida Console';
}

/* Links inside the navbar */
.Menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {

  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.Menu a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
